ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
}

ul li {
    list-style: none;
}

@media (max-width: 600px){
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}